
li {
    list-style-type: none;
}
h1{
    color:white;
}
{
    margin: 0;
}
html{
    height: 100%;
}
body{
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/63a8bbf4-b1ea-4adf-96e2-264486599178/61f498c9-09df-40e6-a69f-e6ef27da12f8/RU-en-20200810-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    height: 100%;
    flex-direction: column;
    display: block;
    margin: 0px;
}
nav{
    padding: 1.3rem;
    color: hsl(350, 50%, 10%);
    background: hsl(240, 91%, 50%);
    height: 34px;
    border-bottom: 5px solid #000d35;
    -webkit-box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
.container{
    flex: 1;
    background:hsl(350, 50%, 95%);
    padding: 1rem;
}
p.content{
    padding: 0.7rem;
    font-size: 0.7rem;
    color: hsl(350, 50%, 50%);
}
.container h2.title{
    padding: 1rem;
    color: hsl(350, 50%, 20%);
}
footer{
    background: hsl(350, 93%, 88%);
    padding: 1rem;
}
input[type=button] {
    color:hsl(350, 50%, 20%);
    padding: 0.3rem;
    font-size: 1rem;
}

html{
    height: 100%;
}

.container{
    flex: 1;
    background:hsl(350, 50%, 95%);
    padding: 1rem;
}
p.content{
    padding: 0.7rem;
    font-size: 0.7rem;
    color: hsl(350, 50%, 50%);
}
.container h2.title{
    padding: 1rem;
    color: hsl(350, 50%, 20%);
}
footer{
    background: hsl(350, 93%, 88%);
    padding: 1rem;
}
input[type=button] {
    color:hsl(350, 50%, 20%);
    padding: 0.3rem;
    font-size: 1rem;
}
.vl {
    border-right: 3px solid black;
    height: 1500px;
    position: absolute;
    right: 10%;
    margin-left: -3px;
    top: 123px;
}

.our-headerH3 {
    font-style: italic;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
}

.horizont1 {
    border-top: 3px solid black;
    height: 20px;
}

.but1 {
    background: navy;
    color: white;
    font-size: 100pt;
}

.but2 {
    display: inline-block;
    width: 25em;
    font-size: 120%;
    color: rgba(238, 255, 1, 0.9);
    text-shadow: #2e7ebd 0 1px 2px;
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    white-space: pre-line;
    padding: .7em 0;
    border: 1px solid;
    border-color: #04ee10 #29a945 #2da929 #60d870;
    border-radius: 6px;
    outline: none;
    background: #ff0800;
    box-shadow: inset rgba(255, 255, 255, .5) 1px 1px;
}

.but2:first-line {
    font-size: 250%;
    font-weight: 400;
}

.but2:hover {
    color: rgb(0, 0, 0);
    background-image: #d9ff00;
}

.but2:active {
    color: rgb(255, 255, 255);
    border-color: #000000;
    /* background-image: linear-gradient(#5796c8, #6aa2ce); */
    box-shadow: none;
}

.but3 {
    text-decoration: none;
    outline: none;
    color: rgb(29, 216, 44);
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.but3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: rgb(90, 26, 207);
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.but3:hover {
    background: rgba(255, 255, 255, 0);
}

.but3:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}
.about {
    margin: 70px auto 40px;
    padding: 8px;
    width: 260px;
    font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: #bbb;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #383838;
    background: rgba(34, 34, 34, 0.8);
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
.about a {
    color: #eee;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}
.about a:hover {
    text-decoration: none;
    background: #555;
    background: rgba(255, 255, 255, 0.15);
}

.about-links {
    height: 30px;
}
.about-links > a {
    float: left;
    width: 50%;
    line-height: 30px;
    font-size: 12px;
}

.about-author {
    margin-top: 5px;
}
.about-author > a {
    padding: 1px 3px;
    margin: 0 -1px;
}
header {
    padding-top: 60px;
    border-bottom: 1px solid #dadada;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
}

.nav {
    margin: 0 auto;
    width: 680px;
}
.nav a {
    display: block;
    text-decoration: none;
}
.nav > li {
    float: left;
    margin-right: 5px;
}
.nav > li > a {
    height: 34px;
    line-height: 34px;
    padding: 0 18px;
    font-weight: bold;
    color: #000000;
    background: #759aaf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, #9cb6c5, #759aaf);
    background-image: -moz-linear-gradient(top, #9cb6c5, #759aaf);
    background-image: -o-linear-gradient(top, #9cb6c5, #759aaf);
    background-image: linear-gradient(to bottom, #9cb6c5, #759aaf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.03), 0 0px white, 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.03), 0 0px white, 0 0 2px rgba(0, 0, 0, 0.2);
}
.nav > li > a:hover {
    text-decoration: none;
    background: #85a6b8;
    background-image: -webkit-linear-gradient(top, #afc5d1, #85a6b8);
    background-image: -moz-linear-gradient(top, #afc5d1, #85a6b8);
    background-image: -o-linear-gradient(top, #afc5d1, #85a6b8);
    background-image: linear-gradient(to bottom, #afc5d1, #85a6b8);
}
.nav > li.active > a, .nav > li > a:active, .nav > .dropdown:hover > a {
    background: white;
    color: #404040;
    text-shadow: none;
    -webkit-box-shadow: 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px white, 0 0 2px rgba(0, 0, 0, 0.2);
}
.nav a.icon {
    position: relative;
    width: 40.8px;
    padding: 0;
}
.nav a.icon > span {
    display: block;
    position: absolute;
    top: 9px;
    left: 12px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    text-shadow: none;
    color: transparent;
}
.nav .active a.icon > span, .nav a.icon:active > span {
    background-position: 0 -16px;
}

.dropdown {
    background-position: 0 -16px;
    position: relative;
    display: inline-block;
}
.dropdown:hover ul {
    background-position: 0 -16px;
    display: block;
}
.dropdown ul {
    background-position: 0 -16px;
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    min-width: 160px;
    padding: 0 0 5px;
    background: white;
    border: 1px solid #dadada;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
}
.dropdown ul.large {
    min-width: 200px;
}
.dropdown li {
    display: block;
    margin: 0 18px;
    overflow: visible;
}
.dropdown li + li {
    border-top: 1px solid #eee;
}
.dropdown li a {
    color: #fa0000;
    padding: 8px 18px;
    margin: 0 -18px;
}
.dropdown li a:hover {
    color: black;
}
