<!DOCTYPE html>
<html>

<head>
    <title>MainFilms</title>
    <link rel="stylesheet" href="style.css">
</head>
<h1 style="font-style:italic; text-align:center"><span style="font-size:58px"><span style="font-family:Comic Sans MS,cursive">MainFilms</span></span></h1>
    <nav>
        <ul class="nav">
            <li class="active"><a href="mainPage.html" >Главная</a></li>
            <li class="dropdown">
                <a href="mainPage.html">Рейтинги</a>
                <ul>
                    <li><a href="/top-100">Топ 100</a></li>
                    <li><a href="mainPage.html">eBooks</a></li>
                    <li><a href="mainPage.html">Books For Study</a></li>
                    <li><a href="mainPage.html">Audiobooks</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="mainPage.html">Сериальчики</a>
                <ul class="large">
                    <li><a href="mainPage.html">Music</a></li>
                    <li><a href="mainPage.html">MP3 Downloads</a></li>
                    <li><a href="mainPage.html">Film &amp; TV</a></li>
                    <li><a href="mainPage.html">Blu-ray</a></li>
                    <li><a href="mainPage.html">PC &amp; Video Games</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="mainPage.html">Фильмецы</a></li>
            <li class="dropdown"><a href="mainPage.html">Новости в мире кино</a></li>
        </ul>
    </nav>
<body>


</body>

</html>