<!DOCTYPE html>
<html>

<head>
    <title>MainFilms</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 style="font-style:italic; text-align:center"><span style="font-size:58px"><span style="font-family:Comic Sans MS,cursive">MainFilms</span></span>
    </h1>
    <div class="horizont1"></div>
    <div class="vl"></div>
    <h3 class="our-headerH3">Чё пришёл?!</h3>

    <form>
        <input type="button" class="but2" value="Посмотреть топ?">
        <input type="button" class="but2" value="Составить свой топ?">
        <p><input type="button" class="border-animation" value="Подобрать фильм для себя?"></p>
        <!-- <p><input type="button" class="but2" value="Не знаешь что выбрать?"></p> -->
        <p><input type="button" class="but3" value="Не знаешь что выбрать?"></p>
    </form>
</body>

</html>