<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MainFilms</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="filmStyle.css">
</head>
<h1 style="font-style:italic; text-align:center" ><span style="font-size:58px "  ><span style="font-family:Comic Sans MS,cursive">MainFilms</span></span></h1>
<nav>
    <ul class="nav">
        <li><a href="mainPage.html" >Главная</a></li>
        <li  class="dropdown">
            <a href="mainPage.html">Рейтинги</a>
            <ul>
                <li><a href="/top-100">Топ 100</a></li>
                <li><a href="mainPage.html">Лучшие в своем жанре</a></li>
                <li><a href="mainPage.html">Самые ожидаемые</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="mainPage.html">Сериальчики</a>
            <ul class="large">
                <li><a href="mainPage.html">Все сериалы</a></li>
                <li><a href="mainPage.html">Лучшие сериалы</a></li>
                <li><a href="mainPage.html">Новые сериалы</a></li>
                <li><a href="mainPage.html">Скоро выйдут</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="mainPage.html">Фильмецы</a>
            <ul>
                <li><a href="/top-100">Все фильмы</a></li>
                <li><a href="mainPage.html">Лучшие фильмы</a></li>
                <li><a href="mainPage.html">Новые фильмы</a></li>
                <li><a href="mainPage.html">Скоро выйдут</a></li>
            </ul>
        </li>
        <li><a href="mainPage.html">Новости в мире кино</a></li>
    </ul>
</nav>
<body>
<div class="product-item">
    <img src="/лучший фильм.jpg" />
    <div class="product-list">
        <h3 >Самый ожидаемый фильм, который не удался!</h3>
        <span class="yearRelease">2020</span>
        <a href="" class="button">Подробнее</a>
        <br>
    </div>
</div>

        <div th:each="el : ${films}" class="product-item">
            <img src="/${el.id}.jpg" />
                <div class="product-list">
                    <p>
                        <h3 th:text = "${el.getSynopsis()}"></h3>
                        <p th:text = "${el.getTitle()}"></p>
                        <p th:text = "${el.getYearRelease()}"></p>
                        <a th:href="'/top-100/' + ${el.id}">Подробнее</a>
                    </p>
                </div>
        </div>

</body>
</html>